# Virtual environment
/venv/
/halpy/

# Config files
/config/config.ini
/data/announcer/announcer.json
/CLI/BackupFactUpdater/config.ini
CLI/DSSAUpdater/config.ini

# Output files
CLI/DSSAUpdater/files/*.json
CLI/DSSAUpdater/files/*.csv

# Logging
/halpybot.log

# Python cache
**/__pycache__

#ideas and venv
/.idea
