# Virtual environment
/venv/
/halpy/

# Config files
/.env
/config/config.ini
/data/announcer/announcer.json
/CLI/BackupFactUpdater/config.ini
CLI/DSSAUpdater/config.ini

# Output files
CLI/DSSAUpdater/files/*.json
CLI/DSSAUpdater/files/*.csv

# Logging
/logs/*

# Python cache
**/__pycache__

#ideas and venv
/.idea
/.fleet

#IDE
/.vscode
halpybot.json
.pylintrc

# Lock files
poetry.lock