# Virtual environment
/venv/
/halpy/

# Config files
/.env
/data/announcer/announcer.json
/CLI/BackupFactUpdater/config.ini
CLI/DSSAUpdater/config.ini

# Output files
CLI/DSSAUpdater/files/*.json
CLI/DSSAUpdater/files/*.csv

# Data Files
/data/edsm/*.json

# Logging
/logs/*.log

# Python cache
**/__pycache__

#ideas and venv
/.idea
/.fleet

#IDE
/.vscode
halpybot.json
.pylintrc

# Lock files
poetry.lock

# Distribution Releases
/dist/*